<template name='footer'>
    <footer class="page-footer" style="background-color:#0288D1;">

        <div class="footer-copyright">

            <div class="" style="padding:0 50px 0 50px;">
                <table>
                    <tr>
                        <td>
                            © 2016 Copyright Text</td>
                        <td>
                            <span><a class="grey-text text-lighten-4 right" href="http://github.com/BitTigerInst/Empachat" target="_blank">Github</a></span></td>
                    </tr>
                </table>
            </div>


        </div>
    </footer> 
</template>