<template name='navigation'>


    <nav>
        <div class="nav-wrapper" style="background-color:#03A9F4;padding:0 50px 0 50px">

            <a href="/" class="brand-logo" style="text-decoration: none;">&nbsp;&nbsp;&nbsp;Empachat</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul class="right hide-on-med-and-down">

                <!--                 <li><a href="#" title="login"><i class="material-icons">account_circle</i></a></li>-->
              
                
                <li>{{> loginButtons}}</li>
                
                <li class="dropdown">
                    {{> notifications}}
                </li>

                <li><a href="#" title="refresh"><i class="material-icons">refresh</i></a></li>
                             
                <li><a href="http://www.google.com/search" target="_blank" title="search"><i class="material-icons">search</i></a></li>
                  
            </ul>

            <ul class="side-nav" id="mobile-demo">
               <li >{{> loginButtons}}</li>
                 <li ><a href="#" title="refresh"><i class="material-icons">refresh</i></a></li>
                 <li><a href="http://www.google.com/search" target="_blank" title="search"><i class="material-icons">search</i></a></li>
            </ul>
        </div>
    </nav>
    <script>
        $(".button-collapse").sideNav();
    </script>
</template>


