<template name="notifications">
  <a href="#" class="dropdown-button" data-activates="dropdown">
    Notifications
    {{#if notificationCount}}
      <span class="badge badge-inverse">{{notificationCount}}</span>
    {{/if}}
    <b class="caret"></b>
  </a>
  <ul id = "dropdown" class="notification dropdown-content">
    {{#if notificationCount}}
      {{#each notifications}}
      <li>
         <a href="# "><strong>{{username}}</strong> send a message </a>
      </li>
      {{/each}}
    {{else}}
      <li><span>No Notifications</span></li>
    {{/if}}
  </ul>
</template>

