<template name='matches'>
  <h3>Matched Users</h3>
  {{#each matched_users}}
    <li class="user"><a href='#'>{{username}}</a></li>
    <!--
    <div class='matched-user'>
      <form class='new-chat'>
        <span class="label {{labelClass}}">{{username}}</span>
        <div>{{emotion}}</div>
        <input type='hidden' name='username' value='{{username}}'/>
        <input type='hidden' name='emotion' value='{{emotion}}'/>
        <button type='submit'>Chat</button>
      </form>
    </div>
    -->
  {{/each}}
</template>
