
<template name='chatwindow'>
  <div class="chat">
    {{> input}}
  </div>

  <script type="text/javascript">
    /* Call it everytime ? ....
    around 10 times at the first call...
     */
    var scrolldown = function() {
      console.log("one scrolldown call..."); // reminder to debug...
      var elem = document.getElementById('scroll');
      elem.scrollTop = elem.scrollHeight;
    }
  </script>
</template>

<template name="input">
  <p>Message: <input type="text" id="message" autocomplete="off"></p>
</template>
