<template name="home">
  <div class="container  z-depth-2" style="background-color:white;padding:1px,3p,0px,3px;">

        <!--
        <div class="row">
            <div class="col s3">
                <iframe class="left-align"width="100%" height="60" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/193532297&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
            </div>
        </div>
      -->
    <div class="center-align">
      <img src="logo.png" alt="" class="responsive-img" width="400px" hieght="400px">
    </div>
    <div class="row">

      <form class="col s12 m10 offset-m1 l8 offset-l2">
<!--
                <div class="input-field">
                   
                    <span><input id="search" placeholder="How's it going?" type="search" required></span>
                    <span><a class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">play_circle_outline</i></a></span>
                    
                </div>
              -->

        <div class="search-wrapper">
          <form class='search-search'>
            <span><input id="emotion" placeholder="How's it going?" type="search" name='emotion'></span>
            <span><a class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">play_circle_outline</i></a></span>
          </form>
        </div>
      </form>

    </div>
    <div style="height:50px">

    </div>

  </div>
</template>
