<template name='chat'>


    <div class="" style="background-color:;height:530px">
        <div class="row" style="margin:0 0 0 0;">
            <div class="col s12 m6 l7">
                <div class="card" style="padding:0 0 0 0; width:95%">
                    {{> musicplayer}}
                </div>
                <div id="chatbox">
                    <div  id="scroll" >
                        <div style="margin:20px 20px 20px 20px;">
                            {{> messages}}
                            <br>
                        </div>
                    </div>
                    <div class="" style="width:95%">
                        <div style="margin:20px 20px 20px 20px;">
                            {{> chatwindow}}
                        </div>
                    </div>
                </div>
            </div>

            <div class=" col s12 m6 l5 " style="text-align:center;">
                <div style="margin:0 0 20px 0;width:95%">
                    <div class="match-title">
                        <span>Matched Users</span>
                    </div>
                    <div class="" id="" style="overflow: auto;height: 421px;margin:0 0 30px 0;">
                        <div style="margin:20px 0 20px 0;">
                            {{> matches}}                            
                            <br>
                        </div>
                    </div>                                 
                </div>
            </div>

        </div>
    </div>
   

</template>

<template name="messages">

    {{#each msgs}}
    <!--{{createdAt}}-->
    <div class="{{name}}"><span class="name">{{name}}:</span> <span class="text">{{text}}</span></div><br>
    {{/each}}
</template>


